AddDefaultCharset utf-8

## php_flag display_errors on
## php_value error_reporting 7

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule !(.(gif|jpg|png|ico|swf|txt|js|css|zip|htc|ttf|eot|svg|woff))$ rw.php [L]